<% content_for :javascripts do %>
  <%= javascript_include_tag "carts/update_quantity" %>
<% end %>
<p>Cart Products</p>
<table>
  <tr>
    <th>Product Name</th>
    <th>Price</th>
    <th>discount</th>
    <th>total price</th>
    <th>quantity</th>
  </tr>
  <% @cart.line_items.each do |line_item| %>
    <%= product = Product.find_by_id(line_item.product_id) %>
    <%= total_price = line_item.calculate_total_price %>
    <tr>
      <td><%= product.name %></td>
      <td><%= product.price %></td>
      <td><%= product.discount %></td>
      <td data-id=<%= "totalprice-#{ line_item.id }" %> ><%= total_price %></td>
      <td><%= text_field(:line_item, :quantity, size: 1, class: "quantity", data: { id: @cart.id, lineitemid: line_item.id}) %></td>
    </tr>
  <% end %>
  <tr>
    <th>total</th>
    <td></td>
  </tr>
</table>
<div class="row">
  <div class="column md-1">
    <%= link_to "Back", products_path %>
  </div>
  <div class="column md-1 offset-md-5">
    <%= link_to "proceed to checkout", new_order_path %>
  </div>
</div>
