<p class="font-weight-bold h1 col-4 offset-5">Depot User</p>
<%= form_for @user, as: :user, url: sessions_path, html: { class: "col-4 offset-4 border border-primary pl-4 pt-4" } do |form| %>
  <%= csrf_meta_tag %>
  <% if @user.errors.any? %>
    <div id="error_explanation">
      <h2>
        <%= pluralize(@user.errors.count, "error") %> prohibited
        this article from being saved:
      </h2>
      <ul>
        <% @user.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <p class="h4 font-weight-bold">Login</p>
  <p>
    <p class="h6 font-weight-bold "><%= form.label :Email %><br></p>
    <%= form.text_field :email, :value => "email"%>
  </p>

  <p>
    <p class="h6 font-weight-bold"><%= form.label :Password %><br></p>
    <%= form.text_field :password %>
  </p>

  <p>
    <%= form.submit "Login",:class => "p-3 mb-2 bg-success text-white"%>
  </p>
<% end %>

<p class="col-4 offset-5">
  <p class="h6 font-weight-bold">New to Depot?</p>
  <%= link_to '<button type="button" class="btn btn-danger btn-lg">Sign up</button>'.html_safe, new_user_path %>
</p>
